/*TODO:
 position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
*/

/*global classes*/
.hidden {
  display: none !important;
}
.submit {
  grid-column: span 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 400;
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
  background: none;
  text-transform: uppercase;
  &-green{
    color: #a6e07b;
    border: 2px solid #a6e07b;
  }
}
.btn:hover {
  color: black;
  font-weight: bold;
  background-color: white;
  opacity: 70%;
}

.section{
  content: "";
  background-image: url(assets/images/peter-burdon-uKarZ38j2Jg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* FONT classes */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

/* START classes */
.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start--title {
  font-size: 50px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.start-block {
  flex-direction: column;
  margin-bottom: 30px;
}

.start-date {
  margin-bottom: 7px;
}

.start-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.start-credit {
  display: flex;
  gap: 20px;
  > p {
    margin: 0;
  }
}

#start--btn:hover {
  color: black;
  font-weight: 400;
  background-color: white;
  opacity: 70%;
}

/* TEAM classes */
.team-container {
  width: 100%;
  height: unset;
  transition: opacity 10s;
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: 1000px) {
    height: 100%;
  }
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.team--headline {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.team--player {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.team--player-0 {
  background-color: #ffeb3b;
}

.team--player-1 {
  background-color: #ff6464; /*#fbaeae*/
}

.team--profil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
  width: 70%;
  height: 100%;
}

/* TODO: SCSS installieren ? */
.team--img {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: grey;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

/* CSS Special */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.team--name {
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 14px;
  cursor: inherit;
  padding: 5px 10px;
  border-radius: 7px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 180px;
}

/* COUNTER section */
.fade-transition {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
}
.clock-container {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

/* COUNTER */
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.animation {
  animation: 1s fade-out ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#seconds {
  font-size: 10rem;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
