


.score-players{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
  width: 100%;
  height: auto;
  max-width: 880px;
  aspect-ratio: 1000/179;
  margin-left: auto;
  margin-right: auto;
}
.score--values{
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  gap: 40px;
  width: 28%;

  .values{
    font-size: 60px;
  }
}
.score--name{
  width: 25%;
  text-align: center;
  margin-top: 6px;
  font-size: 15px;
  line-height: 17px;
  overflow-wrap: break-word;

}